################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/prometheus-net-core/bin
/src/prometheus-net-core/obj
/src/prometheus-net-core/project.lock.json
/src/prometheus-net-core/prometheus-net-core.xproj.user

/test/prometheus-net-core.tests/project.lock.json
/test/prometheus-net-core.tests/prometheus-net.tests.xproj.user
/test/prometheus-net-core.tests/bin
/test/prometheus-net-core.tests/obj
/test/prometheus-net-core.tests/prometheus-net-core.tests.xproj.user
