################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/prometheus-net/bin/Debug/netstandard1.6
/src/prometheus-net/obj/Debug/netstandard1.6
