################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/prometheus-net/bin
/src/prometheus-net/obj
/test/prometheus-net.tests/project.lock.json
/test/prometheus-net.tests/prometheus-net.tests.xproj.user
/test/prometheus-net.tests/bin
/test/prometheus-net.tests/obj
